/{
    aliases {
        app-led = &myLedNodeLabel;
    };
    
    leds:leds {
        compatible = "gpio-leds";
        myLedNodeLabel: myLedNode {
            gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
            label = "BUILT-IN LED";
        };
    };
};